<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.tailwindcss.com"></script>
    <title>Data Base</title>
    <link rel="icon" href="{{url_for('static', filename='assets/imgs/Logo-top.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="{{url_for('static', filename='assets/imgs/Logo.png')}}" alt="">
        </div>
        <div class="usuario">
            <div class="usuario-h3">
                <h3>{{ current_user.nombre }}  {{ current_user.apellido }}</h3>
                <h3>{{ current_user.worker_role }}</h3>
            </div>
            <ion-icon  class="iconos" name="person-circle-outline"></ion-icon>
        </div>
    </header>
    <div class="salto">
        <h2 class="text-2xl font-bold"> Data Base</h2>
    </div>
    <div class="navbar">
        <li><a href="#" ><ion-icon name="home-outline" style= "margin-left: 30px;margin-right: 10px; font-size: 30px;"></ion-icon>Página Principal</a></li>
        <li><a href="#"><ion-icon name="person-outline" style= "margin-right: 10px; font-size: 30px;" ></ion-icon>Mi Cuenta</a></li>
        <li><a href="{{url_for('management_room')}}"><ion-icon name="calendar-clear-outline" style= "margin-right: 10px; font-size: 30px;"></ion-icon>Sala de gestión</a></li>
        <li><a href="#"><ion-icon name="people-outline" style= "margin-right: 10px; font-size: 30px;"></ion-icon>Contáctanos</a></li>
        <div class="navbar-iconos">
            <a href="{{ url_for('logout') }}"><ion-icon name="exit-outline"></ion-icon></a> 
            <ion-icon name="help-circle-outline"></ion-icon>
            <ion-icon name="settings-outline"></ion-icon>
        </div>
    </div>
    <div class="input">
        <input type="text" placeholder="Todas las Actividades" style="width: 500px;">
        <div class="refrescar">
          <a><ion-icon name="refresh-circle-outline" style="margin-right: 10px; font-size: 30px;"></ion-icon>Refrescar</a>
        </div>
    </div>
    <div style="display: flex; justify-content: center;" class="scrollable-table-container">
      <table class="content-table">
        <thead>
          <tr>
            <th>#Orden</th>
            <th>Servicio</th>
            <th>Lógica</th>
            <th>Fecha de asignación</th>
            <th>Deadline</th>
            <th>RUT</th>
            <th>Último cambio</th>
            <th>Estado</th>
            <th>Vista</th>
          </tr>
        </thead>
        <tbody>
          {% for solicitud in solicitudes %}
          <tr>
            <td>{{solicitud.IdOrden}}</td>
            <td>{{solicitud.servicio}}</td>
            <td>{{solicitud.logica}}</td>
            <td>{{solicitud.dateAsign}}</td>
            <td>{{solicitud.deadline}}</td>
            <td>{{solicitud.rut}}</td>
            <td>{{solicitud.dateUpdated}}</td>
            <td>{{solicitud.status}}</td>
            <td>
              <span style="display: flex; justify-content: space-between;">
                <a href="{{url_for('viewDetalles', IdOrden=solicitud.IdOrden)}}" type="button"><ion-icon name="eye-outline"></ion-icon>Ver</a>
              </span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
