<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información de la solicitud</title>
    <link rel="icon" href="{{url_for('static', filename='assets/imgs/Logo-top.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="{{url_for('static', filename='assets/imgs/Logo.png')}}" alt="">
        </div>
        <div class="usuario">
            <div class="usuario-h3">
              <h3>{{ current_user.nombre }}  {{ current_user.apellido }}</h3>
              <h3>{{ current_user.worker_role }}</h3>
            </div>
            <ion-icon  class="iconos" name="person-circle-outline"></ion-icon>
        </div>
    </header>

    <div class="salto">
        <h2 class="text-2xl font-bold">Ver Registro de Solicitud</h2>
    </div>
    {% if infoSolicitud %}
    
    <div class="container-card">
        <div class="card">
            <div class="card-header">
                <h2>Código de solicitud: #{{infoSolicitud.IdOrden}}</h2>
                <a href="{{url_for('home')}}" class="back-button"><ion-icon name="return-up-back-outline"></ion-icon>Atrás</a>
            </div>
            <div class="section">
                <div class="section-title">Información del cliente</div>
                <div class="info">
                    <div>
                        <div><strong>Nombre del cliente:</strong> {{infoSolicitud.clientName}}</div>
                        <div><strong>Localidad:</strong> {{infoSolicitud.clientPlace}}</div>
                        <div><strong>Telefono:</strong> {{infoSolicitud.clientTel}}</div>
                        <div><strong>RUT:</strong> {{infoSolicitud.rut}}</div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-title">Características de la solicitud</div>
                <div class="details">
                    <div>
                        <div><strong>Servicio:</strong> {{infoSolicitud.servicio}}</div>
                        <div><strong>Lógica:</strong> {{infoSolicitud.logica}}</div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-title">Fechas importantes</div>
                <div class="details">
                    <div>
                        <div><strong>Fecha de asignación:</strong> {{infoSolicitud.dateAsign}}</div>
                        <div><strong>Deadline:</strong> {{infoSolicitud.deadline}}</div>
                        <div><strong>Fecha de actualización:</strong> {{infoSolicitud.dateUpdated}}</div>
                    </div>
                </div>
                <div class="section">
                    <div class="section-title">Detalles de la falla</div>
                    <div class="details">
                        <div>{{infoSolicitud.descripcion}}</div>
                    </div>
                </div>
            </div>
            <div class="status">
                <span>Estado: {{infoSolicitud.status}}</span>
                <div class="links">
                    <a href="#">Informe ></a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <h2 class="text-center">
                No existe la solicitud.
            </h2>
        </div>
        {% endif %}
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>